body {
    background-color: peru;
}

h1#t1 {
    text-align: center;
    color: yellow;
    text-shadow: 1px 1px 1px blue;
}

img#logo {
    position: absolute;
    left: 10px;
    width: 150px;
    height: 150px;
    top: 1px;
}